body{
    background-color: rgb(40, 40, 40);
    margin: 20px;
}

#main{
    display: flex;
    flex-direction: column;
    align-items: center;
}

#proposal{
    text-align: center;
    width: 270px;
    display: flex;
    flex-direction: column;
    align-items: stretch;
    margin-bottom: 50px;
    background-color: rgb(60, 60, 60);
    padding: 30px;
    border-radius: 20px;
}

#proposal input{
    padding: 10px;
    text-align: center;
    border-radius: 10px;
}

#proposal_text{
    margin-bottom: 20px;
    border-width: 0px;
}

#proposal_submit{
    border: 2px solid rgba(255, 255, 255, 0.6);
    background-color: rgba(255, 255, 255, 0.1);
    color: rgba(255, 255, 255, 0.9);
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
    font-size: small;
    transition: 100ms;
}

#proposal_submit:hover{
    background-color: rgba(255, 255, 255, 0.3);
}

#proposal_submit:active{
    background-color: rgba(255, 255, 255, 0.5);
}

p{
    color: white;
    margin-top: 0;
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
    font-size: large;
}

#reactions{
    display: grid;
    grid-template-columns: 90px 90px 90px;
    grid-template-rows: 90px 90px;
}

#viewcount {
    color: white;
}

.react{
    height: 50px;
    width: 50px;
    padding: 20px;
    border: 2px solid gray;
    background-color: rgb(60, 60, 60);
    transition: 100ms;
}

.react:first-of-type{
    border-top-left-radius: 20px;
}

.react:nth-of-type(3){
    border-top-right-radius: 20px;
}

.react:nth-of-type(9){
    border-bottom-right-radius: 20px;
}

.react:nth-of-type(7){
    border-bottom-left-radius: 20px;
}

.react:hover{
    background-color: rgb(80, 80, 80);
}

.react:active{
    background-color: rgb(100, 100, 100);
}

